@page
@model Inlämning.Pages.Attendee.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Attendee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attendee.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attendee.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attendee.Emailaddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attendee.Emailaddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attendee.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attendee.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Attendee.AttendeeID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
